#first1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media screen and (width < 1300px) {
        grid-template-columns: repeat(2, 1fr);

    }
    @media screen and (width < 1000px) {
        grid-template-columns: repeat(1, 1fr);

    }

    .valueCont {
        font-size: 30px;
        font-weight: 600;
        padding: 10px;
    }
    .value {
        box-shadow: none;
    }
}