#adminCalendar {
    .first {
        display: flex;
        flex-direction: row;
        gap: 15px;
        @media screen and (width < 1400px) {
            flex-direction: column;
        }
        
        .section {
            &:nth-child(1){
                flex: 1;
                @media screen and (width < 1200px) {
                    flex: none;
                }

            }
            &:nth-child(2){
                flex: 2;
                @media screen and (width < 1200px) {
                    flex: none;
                }
            }
            border-radius: 7px;
            overflow: hidden;
            flex: 1.2;
            border: 1px solid #dfdfdf;
            display: flex;
            flex-direction: column;

            @media screen and (width < 1200px) {
                flex: none;
                
            }
            
            
            .header {
                background-color: #f7f7f7;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 8px 10px;
                border-bottom: 1px solid #dfdfdf;
                flex-wrap: wrap;
    
                .label {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    .title {
                        font-size: 13px;
                        font-weight: 500;
                    }
                    svg {
                       width: 13px;
                       height: 13px; 
                    }
                }
                .editCont {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid #dfdfdf;
                    padding: 0 10px;
                    border-radius: 3px;
                    font-size: 13px;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.7;
                    }
                    svg {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
            .videoCont {
                background-color: #ececec;
                margin: 10px;
                aspect-ratio: 4/2;
                max-height: 350px;
                border-radius: 3px;
                overflow: hidden;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .revText {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* Number of lines to display */
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .actionButtons {
        display: flex;
        flex-direction: row;
        gap: 5px;
    
        .actionButton {
            
            background-color: #eeeeee;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #d3d3d3;
            cursor: pointer;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .rbc-btn-group {
        font-size: 13px;

        button {
            border-radius: 0;
        }
    }
    .eventTitle {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1; /* Number of lines to display */
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: orange;
        
    }
    .event-container {
        position: relative;
        display: inline-block;
      }
      
      .event-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px; /* Adjust this value as needed */
      }
      
      .tooltip {
        visibility: hidden;
        background-color: rgb(175, 175, 175);
        color: #fff;
        text-align: center;
        padding: 5px;
        border-radius: 6px;
        
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%; /* Position above the event */
        left: 50%;
        margin-left: -60px; /* Center the tooltip */
        
        /* Width of the tooltip */
        width: 100%;
      }
      
      .event-container:hover .tooltip {
        visibility: visible;
      }
      
}