.regulations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    @media screen and (width < 670px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (width < 513px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.regContainer {
    display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(151, 151, 151, 0.308);
        padding: 20px;
        gap: 20px;
        margin-top: 25px;
        justify-content: space-between;
        
        div > .imgContainer {
            /* background: #e7eff3; */
            background: white;
            height: 80px;
            width: 80px;
            margin: auto;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: -60px;
            

            img {
                object-fit: contain;
                width: 100%;
                height: 80px;
                
            }
        }

        .title {
            font-weight: 700;
            text-align: center;
            font-size: 14px;
        }
        .description {
            color: #949494;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            margin: -10px 0;
        }
        .regButton {
            background: #004f77;
            color: white;
            width: 100px;
            text-align: center;
            padding: 10px 0;
            align-self: center;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            font-size: 14px;
            transition: 0.2s ease-in-out;
            &:hover {
                background: #004f77b0;
            }
        }
        
}