.aboutCourse {

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.tabs {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #d8d8d8;
    align-self: flex-end;
    flex-wrap: wrap;
    gap: 10px;
    .tab {
        padding: 7px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border: 1px solid #dadada;
        font-size: 14px;
        @media screen and (width > 440px) {
            border-bottom: 0;

        }
        @media screen and (width < 1100px){
            /* margin-top: 5px; */
        }
        &:hover {
            background-color: #ffb731;
            color: white;
        }
    }
    > .tab1 {
        background-color: #f19d00;
        border: 0;
        color: white;
        font-weight: 500;
        border: 1px solid #f19d00;

    }
    div[class~='tab1']{
        background-color: orange;
        color: white;
        font-weight: 500;
        

        
    }

    
}
.searchContainer {
    flex: 1;
    max-width: 600px;
    align-self: flex-end;
    > .search {
        background-color: white;
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        overflow: hidden;
        > span {
            background-color: #ebebeb;
            padding: 10px;
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background-color: #ebebeb83;
            }
            
        }
        >input {
            flex: 1;
            height: 100%;
            border: 0;
            outline: none;
            padding: 0 5px;
        }
    }
}
.newsBanners {
    display: flex;
    gap: 20px;
    flex-direction: row;
    .newsBanner:nth-child(1) {
        flex: 1.5;
        background-color: #5c5c5c;
            background-image: linear-gradient(90deg, rgba(91,91,91,1.00) 0%,rgba(112,112,112,1.00) 40%,rgba(91,91,91,1.00) 80%,rgba(91,91,91,1.00) 97%);
            animation-duration: 1s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: loadingShimmer;
              animation-timing-function: linear;
              background-color: #efefef;
              background-image: linear-gradient(90deg, rgba(239,239,239,1.00) 0%,rgba(221,221,221,1.00) 40%,rgba(239,239,239,1.00) 80%,rgba(239,239,239,1.00) 97%);
              background-repeat: no-repeat;
              background-size: 50%;
            @keyframes loadingShimmer {
                0% {
                  background-position: -100% 0;
                }
              
                100% {
                  background-position: 200% 0;
                }
              }
    }
    .newsBanner:nth-child(2) {
        flex: 1;
        background-color: #5c5c5c;
            background-image: linear-gradient(90deg, rgba(91,91,91,1.00) 0%,rgba(112,112,112,1.00) 40%,rgba(91,91,91,1.00) 80%,rgba(91,91,91,1.00) 97%);
            animation-duration: 1s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: loadingShimmer;
              animation-timing-function: linear;
              background-color: #efefef;
              background-image: linear-gradient(90deg, rgba(239,239,239,1.00) 0%,rgba(221,221,221,1.00) 40%,rgba(239,239,239,1.00) 80%,rgba(239,239,239,1.00) 97%);
              background-repeat: no-repeat;
              background-size: 50%;
            @keyframes loadingShimmer {
                0% {
                  background-position: -100% 0;
                }
              
                100% {
                  background-position: 200% 0;
                }
              }
    }
    @media screen and (width < 948px) {
        flex-direction: column;
        .newsBanner {
            max-height: 320px;
            min-height: 250px;
        }
    }
}
.newsBanner {
    position: relative;
    aspect-ratio: 4/2;
    max-height: 400px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    background-color: #eeeeee;
    background-image: linear-gradient(90deg, rgba(91,91,91,1.00) 0%,rgba(112,112,112,1.00) 40%,rgba(91,91,91,1.00) 80%,rgba(91,91,91,1.00) 97%);
            animation-duration: 1s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: loadingShimmer;
              animation-timing-function: linear;
              background-color: #efefef;
              background-image: linear-gradient(90deg, rgba(239,239,239,1.00) 0%,rgba(221,221,221,1.00) 40%,rgba(239,239,239,1.00) 80%,rgba(239,239,239,1.00) 97%);
              background-repeat: no-repeat;
              background-size: 50%;
            @keyframes loadingShimmer {
                0% {
                  background-position: -100% 0;
                }
              
                100% {
                  background-position: 200% 0;
                }
              }
    &:hover {
        img {
            filter: brightness(0.9);
            transform: scale(1.1);

        }
    }
    img {
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        filter: brightness(0.5);
        
    }
    .infoContainer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        justify-content: space-between;
        display: flex;
        flex-direction: column;

        .glance {
            margin: 10px;
            border: 1px solid orange;
            background-color: orange;
            width: 130px;
            text-align: center;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 15px;
            padding: 3px 0;
            z-index: 1;
        }
        .info {
            margin: 10px;
            color: white;
            display: flex;
            flex-direction: column;
            .postDate {
                color: white;
                font-weight: 500;
            }

            .postTitle {
                font-weight: 600;
                font-size: 15px;
                padding-top: 20px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; /* Number of lines to display */
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .postTitle::before {
                position: absolute;
                content: "";
                border-top: solid 6px orange;
                border-radius: 5px;
                max-width: 300px;
                width: 100%;
                min-width: 100px;
                top: 10px;
            }
        }

    
    }

}
.subTitle {
    font-size: 17px;
    font-weight: 600;

    span {
        font-size: 12px;
        font-weight: 400;
    }
}
.postGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @media screen and (width < 1000px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (width < 700px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (width < 500px){
        grid-template-columns: repeat(1, 1fr);
    }
    .newsBanner1 {
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        border-radius: 5px;
        background-color: #5c5c5c;
            background-image: linear-gradient(90deg, rgba(91,91,91,1.00) 0%,rgba(112,112,112,1.00) 40%,rgba(91,91,91,1.00) 80%,rgba(91,91,91,1.00) 97%);
            animation-duration: 1s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: loadingShimmer;
              animation-timing-function: linear;
              background-color: #efefef;
              background-image: linear-gradient(90deg, rgba(239,239,239,1.00) 0%,rgba(221,221,221,1.00) 40%,rgba(239,239,239,1.00) 80%,rgba(239,239,239,1.00) 97%);
              background-repeat: no-repeat;
              background-size: 50%;
            @keyframes loadingShimmer {
                0% {
                  background-position: -100% 0;
                }
              
                100% {
                  background-position: 200% 0;
                }
              }
            @media screen and (width < 650px) {
                max-height: 240px;
            }
        @media screen and (width < 830px) {
            max-height: 100%;
        }
        &:hover {
            img {
                filter: brightness(0.9);
                transform: scale(1.1);
    
            }
        }
        img {
            transition: 0.3s ease-in-out;
            aspect-ratio: 4/2.3;
            object-fit: cover;
            z-index: 1;

            filter: brightness(0.5);
            
        }
        .infoContainer {
            
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            z-index: 10;
            height: 100%;
            .glance {
                display: none;
            }
            
            .info::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url('../../public/images/ispajview.png') center center / cover; /* Or use a color */
                z-index: -1;
                opacity: 0.3; 
                border-radius: inherit;
                filter: blur(20px);
                
            }
            .info {
                z-index: 10;

                /* background-color: white; */
                height: 100%;
                
                padding: 15px;
                color: black;
                display: flex;
                flex-direction: column;
                margin: 0;
                border: 1px solid #e4e4e4;
                border-top: none;
                border-radius: 5px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                backdrop-filter: blur(20px);
                z-index: 10;
                background-color: rgb(255, 255, 255);



                .postDate {
                    color: rgb(73, 73, 73);
                    font-size: 13px;
                    font-weight: 500;
                }
                .postTitle {
                    font-weight: 600;
                    font-size: 15px;
                    padding-top: 20px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2; /* Number of lines to display */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @media screen and (width < 700px){
                        font-size: 14px;
                    }
                }
                .postTitle::before {
                    position: absolute;
                    content: "";
                    border-top: solid 6px orange;
                    border-radius: 5px;
                    max-width: 300px;
                    width: 100%;
                    min-width: 100px;
                    top: 10px;
                }
            }
    
        
        }
    }
    
}
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  
  .page-item {
    display: flex;
    margin: 0 3px;
    background-color: #e3e3e3a8;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
    overflow: hidden;
    
  }
  
  .page-link {
    padding: 8px 16px;
    text-decoration: none;
    color: rgb(87, 87, 87);
  }
  
  .active .page-link {
    font-weight: bold;
    color: white;
    background-color: orange;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .disabled .page-link {
    color: grey;
    cursor: not-allowed;
  }
  
  .prev-item, .next-item {
    margin: 0 15px;
    display: flex;
    background-color: #e3e3e3a8;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 13px;
    overflow: hidden;
    width: 37px;
  }
  
  .break-me {
    margin: 0 5px;
  }
  
  .break-link {
    padding: 8px 16px;
    text-decoration: none;
    color: grey;
  }

}
.something {
    color: #d88c00;
}