.servicesContainer {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    padding: 0px 15px;
    /* background-image: linear-gradient(#ffffff9f, #ffffff9f), url('../images/Hexagon.svg'); */
    background-size: 200px;
    background-repeat: repeat;
    @media screen and (width < 700px){
        margin-top: 50px;
    }
    @media screen and (width < 400px) {
        padding: 0;
        

    }
}
.servicesContainer1 {
    height: 100%;
    
    align-items: center;
    padding: 5px 10px;
    max-width: 1600px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    box-sizing: border-box;
    padding: 5px 20px;
    
    @media screen and (width < 440px) {
        padding-left: 0;
        padding-right: 0;
    }
    

}
.servicesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (width < 440px) {
        padding: 0 15px;

    }
}
.servicesControl {
    display: none;
    @media screen and (width < 1130px) {
        display: flex;
    }
    @media screen and (width < 600px) {
        display: none;
    }
}
.servicesControl > svg {
    width: 35px;
    height: 35px;
    display: none;
    color: orange;
    margin-left: 10px;
    @media screen and (width < 1130px) {
        display: block;
        cursor: pointer;
    }
    @media screen and (width < 600px) {
        
    }
}
.servicesHeader > .title {
    font-size: 28px;
    font-weight: 500;
    position: relative;
    @media screen and (width < 900px) {
        font-size: 26px;
    }
    @media screen and (width < 650px) {
        font-size: 26px;
    }
    @media screen and (width < 600px) {
        font-size: 24px;
    }
    
}
.servicesHeader > .title::before {
    position: absolute;
    content: "";
    border-top: solid 8px orange;
    border-radius: 100px;
    max-width: 300px;
    width: 100%;
    min-width: 100px;
    top: -10px;
 
}
.services {
    display: grid;
    grid-template-columns: repeat(3, 32.5%);
    gap: 1%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    position: relative;
    height: 100%;
    overflow-y: hidden;
    padding-bottom: 15px;
    @media screen and (width < 440px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media screen and (width < 1130px) {
        overflow-x: scroll;
        width: 100%;
        justify-content: flex-start;
        grid-template-columns: repeat(3, 350px);
        gap: 3%;
        
        
        &::-webkit-scrollbar {
            width: 5px;
            height: 10px
            
            
        }
        &::-webkit-scrollbar-thumb {
            background-color: orange;
            border-radius: 100px;
            height: 5px;
            
        }
        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
            border-radius: 100px;
        }
        &::-webkit-scrollbar-hover {
            background-color: #555;
        }

    }
    @media screen and (width < 600px) {
        align-items: center;
        justify-content: center;
        gap: 15px;
        grid-template-columns: repeat(1, 100%);
        &::-webkit-scrollbar {
            display: none;
            
        }
    }
    @media screen and (width < 440px) {
        gap: 5px;
        grid-template-columns: repeat(1, 100%);

    }
    
    /* @media screen and (width < 450px) {
        padding-bottom: 0px;

        gap: 3%;
        grid-template-columns: repeat(3, 340px);
    }
    @media screen and (width < 300px) {
        gap: 10%;
        grid-template-columns: repeat(3, 250px);
    } */
    /* @media screen and (width < 950px) {
        gap: 6%;
        grid-template-columns: repeat(2, 45%);
    }
    @media screen and (width < 600px) {
        align-items: center;
        justify-content: center;
        gap: 2%;
        grid-template-columns: repeat(1, 90%);
    }
    @media screen and (width < 440px) {
        gap: 2%;
        grid-template-columns: repeat(1, 100%);

    } */
}
.service {
    /* width: 300px; */
    background-color: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0px;
    border-radius: 10px;
    justify-content: stretch;
    box-shadow: 0px 0px 10px rgba(151, 151, 151, 0.308);
    overflow: hidden;
    background-color: #5c5c5c;
            background-image: linear-gradient(90deg, rgba(91,91,91,1.00) 0%,rgba(112,112,112,1.00) 40%,rgba(91,91,91,1.00) 80%,rgba(91,91,91,1.00) 97%);
            animation-duration: 1s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-name: loadingShimmer;
              animation-timing-function: linear;
              background-color: #efefef;
              background-image: linear-gradient(90deg, rgba(239,239,239,1.00) 0%,rgba(221,221,221,1.00) 40%,rgba(239,239,239,1.00) 80%,rgba(239,239,239,1.00) 97%);
              background-repeat: no-repeat;
              background-size: 50%;
            @keyframes loadingShimmer {
                0% {
                  background-position: -100% 0;
                }
              
                100% {
                  background-position: 200% 0;
                }
              }
    .serviceImage {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: 0.5s ease-in-out;
        z-index: 1;
        border-radius: 0px;
        @media screen and (width < 440px) {
            flex: 1;
            width: 100%;
            border-radius: 0px;
            height: 200px;
        }
    }
    @media screen and (width < 1130px) {
        width: 100%;
        margin-right: 200px;
    }
    @media screen and (width < 450px) {
        margin-bottom: 30px;
        min-width: 270px;
    }
    @media screen and (width < 300px) {
        margin-bottom: 30px;
        min-width: 250px;
    }
    @media screen and (width < 440px) {
        width: 100%;
        border-radius: 0px;
    }
    
    
    /* @media screen and (width >=450px) and (width <=600px) {
        height: 450px;
    } */
}

.service:hover .serviceTitle::before {
    transition: 0.3s ease-in-out;
    width: 100%;
}

.service:hover .serviceImage {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.serviceButton::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #e69500;
    position: absolute;
	  -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
	   box-shadow:2px 0px 14px rgba(0,0,0,.6);
  } 

.serviceButton::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #001d6b;
    position: absolute;
	-ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.service:hover, .messageContainer:hover {
.serviceButton{
    border: 2px solid #e69500;
	color: #ffffff!important;
}

.serviceButton::before, .seeMore::before{
	opacity:1;
	width: 116%;
}
.serviceButton::after, .seeMore::after{
	opacity:1;
	width: 120%;
}
}
.serviceInfo {
    width: 100%;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: space-between;
    flex: 1;
    z-index: 2;
}
.serviceTitle {
    font-size: 16px;
    font-weight: 500;
    color: grey;
    position: relative;
    flex: 1;
    @media screen and (width < 440px) {
        font-size: 15px;
    }
}
.serviceTitle::before {
    position: absolute;
    content: "";
    border-top: solid 8px orange;
    border-radius: 100px;
    width: 80px;
    top: -10px;
}
.serviceDescription {
    color: grey;
    flex: 1;
    font-size: 14.5px;
    @media screen and (width < 440px) {
        font-size: 14px;
    }
}
.serviceButton {
    border: 2px orange solid;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    color: orange;
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent!important;
    z-index:10;
    @media screen and (width < 440px) {
        width: 80px;
        font-size: 13px;
    }
}
